
body {
	font-family: Consolas, monaco, monospace;
	background-color: white;
}

a {
	text-decoration: none;
}

ul li {
	padding: 10px;
}

blockquote{
	padding-left: 20px;
	padding-right: 20px;
	border-style: solid;
}

#sidebar {
  position: fixed;
  top : 0;
  width : 20%;
  right: 0;
  height : 100%;
  border-style: solid;
  text-align: center;
}

#sidebar ul{
	text-align: left;
	list-style: none;
	line-height: 50px;
}

#title  {
	width: 79.9%;
	position: sticky;
	top: 0;
	background: inherit;
    z-index: 2
}

#title h1, p {
	display : inline;
}


.content  {
	width: 78%;
	left : 0;
	margin-left: 0;
	text-align: justify;
    position: relative;
    z-index: 1;
}
